/* ///////////////////////// Fonts */

/* Archive Garamond */

@font-face {
  font-family: 'ArchiveGaramondPro';
  src: url('assets/fonts/ArchiveGaramond/otf/ArchiveGaramondExp.otf');
}

@font-face {
  font-family: 'ArchiveGaramondBold';
  src: url('assets/fonts/ArchiveGaramond/otf/ArchiveGaramondExp-Bold.otf');
}

/*  */

@font-face {
  font-family: 'RobotoRegular';
  src: url('assets/fonts/Roboto/ttf/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('assets/fonts/Roboto/ttf/Roboto-Bold.ttf');
}

/* Inconsolata */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/*  */

.archive-garamond-pro {
  font-family: 'ArchiveGaramondPro';
}

.archive-garamond-bold {
  font-family: 'ArchiveGaramondBold';
}

/*  */

.archive-garamond-pro {
  font-family: 'RobotoRegular';
}

.archive-garamond-bold {
  font-family: 'RobotoBold';
}

/*  */

.uppercase {
  text-transform: uppercase;
}


/* ///////////////////////// Color Palette */

/* Color Palette */

/* Green */

/* 
Light Green
HEX: #C4BDA2 
*/
/* 
Light Medium Green 
HEX: #9B957F 
*/
/* 
Dark Medium Green 
HEX: #5F5D4A
*/
/* 
Dark Green 
HEX: #32361C 
*/

/* Brown */

/* 
Light Brown
HEX: #FDFAE0 
*/
/* 
Light Medium Brown 
HEX: #BB923F 
*/
/* 
Dark Medium Brown 
HEX: #926014
*/
/* 
Dark Brown 
HEX: #3A2C15 
*/

/* Background Colors */

/* Green */

.LightGreenBG{
background-color: #C4BDA2 ;
}

.LightMediumGreenBG{
  background-color: #9B957F ;
}

.DarkMediumGreenBG{
  background-color: #5F5D4A;
} 

.DarkGreenBG{
background-color: #32361C ;
}

/* Brown */

.LightBrownBG{
  background-color: #FDFAE0 ;
}

.LightMediumBrownBG{
  background-color: #BB923F ;
}

.DarkMediumBrownBG{
background-color: #926014;
}

.DarkBrownBG{
background-color: #3A2C15 ;
} 

/*  */

/* Typography Colors */

/* Green */

.LightGreenTypo{
  color: #C4BDA2 ;
  }
  
  .LightMediumGreenTypo{
    color: #9B957F ;
  }
  
  .DarkMediumGreenTypo{
    color: #5F5D4A;
  } 
  
  .DarkGreenTypo{
  color: #32361C ;
  }
  
  /* Brown */
  
  .LightBrownTypo{
    color: #FDFAE0 ;
  }
  
  .LightMediumBrownTypo{
    color: #BB923F ;
  }
  
  .DarkMediumBrownTypo{
  color: #926014;
  }
  
  .DarkBrownTypo{
  color: #3A2C15 ;
  } 
  
  /*  */

  /* General */

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: url('../../assets/img/bg/tile.svg') top left repeat;
    text-align: left;
}

a {
  color: #FDFAE0;
  text-decoration: none;
}

a:hover {
  color: #5F5D4A;
  text-decoration: none;
}

.btn-primary{
  background-color: #FDFAE0;
  color: #32361C;
  border: none;
}

.btn-primary:hover{
  background-color: #32361C;
  color:  #FDFAE0;
  border: none;
}

.btn-secondary {
  background-color: #32361C;
  color:  #FDFAE0;
  border: none;
}

.btn-secondary:hover {
  background-color: #FDFAE0;
  color: #32361C;
  border: none;
}

.btn-dark {
  background-color: #3A2C15;
  color:  #FDFAE0;
  border: none;
}

.btn-dark:hover {
  background-color: #FDFAE0;
  color: #3A2C15;
  border: none;
}

.in-between{
  margin: 1px;
}

/* .MiguelDominguez {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 21px;
} */

  /* Navbar */
.nav-link {
  color: #32361C !important;
}

.navbar-toggler {
  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");


    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

  background-color: transparent;
  border: 1px solid #5F5D4A;

}

/* Carousel */
#carouselExampleCaptions {
  margin-top: 50px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  /* bottom: 15rem; */
  top: 20rem;
  left: 60%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-caption h5 {
  font-family: 'RobotoRegular';
  font-size: 72px;
  color: #C4BDA2;
}

.carousel-caption p {
  font-family: 'RobotoRegular';
  font-size: 48px;
  color: #FDFAE0;

}

/* Section 1 */

#section1 {
  background: url('../../assets/img/bg/Old_Paper_200311_0.jpg') 100% 0 fixed;

  padding: 50px;
}

#section1 h2 {
  font-size: 72px;
}

/* Section 3 */

#section3 {
  margin: 50px;
  padding: 50px;
}

.wordmark{
  width: 300px;
  margin: 20px;
  margin-left: -40px;

}

#section3 h2 {
  font-size: 54px;
}

#section3 h3 {
  font-size: 42px;
}

/* Section 4 */

#section4{
  background: #FDFADE;
  padding: 50px;
}

#section4 img{
  height: 150px;
  margin-left: -15px;
  
}

#section4 h2 {
    text-transform: uppercase;
}

/* Section 5 */

#section5 {
  background: url('../../assets/img/bg/floral_pattern.jpg') 50% 100% repeat fixed;
}

#section5 h2 {
  font-size: 72px;
  margin: 50px;
  text-align: center;
}

/* Section 6 */

#section6 {

  margin: 50px;

  color: #2c2e0f;

}

.fa-2x {
    font-size: 6rem !important;
    margin: 10px;
}

/* Section 7 */

#section7 {
  background: url('../../assets/img/bg/floral_pattern.jpg') 50% 100% repeat fixed;
  background-size: cover;
  text-align: center;
  padding: 100px;
}

/* Section 8 */

#section8 {

  background: #FDFADE url('../../assets/img/logo/Hieraldry.svg') 90% -10px no-repeat;

  padding: 100px;
}

#section8 .num {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: #2c2e0f;
  line-height: 24px;
  height: 140px;
  width: 140px;
  text-align: center;
  background: #D2C98B;
  -webkit-boder-radius: 100%;
  -moz-boder-radius: 100%;
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

  margin: 10px;
}

/* Social MA Below */

.badge.social {

  background: #dccda6;

  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 5px 20px 0;
  padding: 0;
  -webkit-border-radius: 50px;
  -moz-boder-radius: 50px;
  border-radius: 50px;

  color: #2c2e0f;
}

.badge.social.twitter:hover  {
  background: #55acee;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

.badge.social.facebook:hover  {
  background: #3b5998;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

.badge.social.gplus:hover  {
  background: #db4b39;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

.badge.social.instagram:hover {
  background: #bc2a8d;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

.badge.social.linkedin:hover{
  background: #2867b2;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

.badge.social.youtube:hover{
  background: #FF0000;
  color: #EADCA5;
  transition: 1s ease-in-out;
}

/*  */

hr {
  color: #5F5D4A;
  opacity:1;
}

/*  */

#section8 h3 {
  font-size: 26px;
}

#section8 small {
  font-size: 14px;
}

/*  */

#dividers-line {
  margin-top: 30px 0 60px;
  text-align: center;
}

#dividers-line .divider-section1 {
  display: inline-block;
  margin: 0 2% 0 0;

  background: #2c2e0f;

  padding: 10px 20px 30px;

  position: relative;
  vertical-align: top;
  color: #D2C98B;

  text-align: center !important;
}

#dividers-line .divider-section1 span {
  background: #fcebb7;
  background: #efdeb3;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
  color: #2c2e0f;
}

#dividers-line h4 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}

#dividers-line h4 small {

  font-weight: bold;
  display: block;
}

/* Section 9 */

#section9 {
  padding: 50px;
  text-align: left;
  background-color: rgba(95, 93, 74, 0.2);
}

#section9 i {
  color: #5F5D4A;
}

blockquote {
  padding: 0;
  border: none;
  font-style: italic;
  text-align: left;
}

blockquote cite {
  display: block;
  color: #777;
  margin: 15px 0 0 0;
}

blockquote:before {
  display: none;
}

/**/

/*///////////////////*/	/* SECTION 10 */

#section10 {
  text-align: center;
    background: url('../../assets/img/bg/Signature.jpg') center center repeat fixed;
    background-size: cover;
    color: #2c2e0f;
    padding: 140 0px;
  
  }

  #section10 .btn {
    font-size: 24px;
  }

#section10 h2 {
    margin: 20px 0 40px;
}

/* */

.btn-success{
  background: #2c2e0f;
  color: #D2C98B;
  border-color: #2c2e0f;
  transition: 1s ease-in-out;
}

.btn-success:hover {
  background: #D2C98B;
  color: #2c2e0f;
  border-color: #2c2e0f;
  transition: 1s ease-in-out;
}

/*///////////////////*/	/* SECTION 11 */

#map {
  width: 100%;
  height: 100%;
  border-radius:10px;
}

.mapboxgl-control-container {
  display: none;
}

.list-group-item {
  color: #2c2e0f;
  border: 1px solid rgba(95, 93, 74, 0.5);
}















/* Footer */

.Copyright {
  font-size:14px;
}

.Footer-Wordmark {
  font-size: 21px;
}


/* Modal */

.modal-content {
  background-color: #FDFADE;
}

/* .modal-body {
  
} */

/* Media queries */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 



 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

  .carousel-caption {

    top: 5rem;

  }


  .carousel-caption h5 {
    font-size: 42px;
  }
  
  .carousel-caption p {
    font-size: 21px;  
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  .carousel-caption {

    top: 5rem;

  }


  .carousel-caption h5 {
    font-size: 42px;
  }
  
  .carousel-caption p {
    font-size: 21px;  
  }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
  
  .carousel-caption h5 {
    font-size: 46px;
  }
  
  .carousel-caption p {
    font-size: 21px;  
  }

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
